repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 19.10b0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.4.2
  - hooks:
      - id: flake8
        language_version: python3
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
